* {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  /* max-width: 500px; */
  margin: 0 auto;
}

nav {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 3px;
}

h1 {
  text-align: center;
}

span {
  display: flex;
  justify-content: center;
  padding: 5px;
}

a {
  padding: 3px;
  text-decoration: none;
  color: black;
}

hr {
  width: 25%;
  margin: 2rem auto;
}

form {
  gap: 10px;
  width: 25%;
  margin: 0 auto;
}

#ul-navbar > li {
  list-style-type: none;
  display: inline;
  justify-content: space-around;
  
}

#booklist {
  list-style-type: none;
  padding: 1px;
}

#booklist > li:nth-child(odd) {
  background-color: rgb(224, 221, 221);
}

.element {
  display: flex;
  margin: 2px 0;
  justify-content: space-between;
  width: 95%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  align-self: flex-end;
  box-shadow: 3px 3px gray;
  border: 2px solid black;
}

#btnAdd {
  margin-right: 15%;
}

.black-border {
  border: 2px solid black;
  max-width: 60%;
  margin: 0 auto;
}
