* {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

.p5 {
  padding: 0 5vw;
}

nav {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3px;
}

.thin-border {
  border: 1px solid black;
}

h2 {
  text-align: center;
  font-size: 30px;
}

span {
  display: flex;
  justify-content: end;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: purple;
}

form {
  gap: 15px;
  width: 400px;
  margin: 0 auto;
}

#ul-navbar > li {
  display: inline;
  justify-content: space-around;
  padding: 20px 4px;
  border-left: 1px solid black;
}

#booklist {
  padding: 1px;
}

#booklist > li:nth-child(odd) {
  background-color: rgb(224, 221, 221);
}

.element {
  display: flex;
  margin: 2px 0;
  justify-content: space-between;
  width: 95%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  align-self: flex-end;
  box-shadow: 3px 3px gray;
  border: 2px solid black;
}

.black-border {
  border: 2px solid black;
  max-width: 60%;
  margin: 0 auto;
}

#list {
  display: initial;
}

#add-new {
  display: none;
}

#enterTitle,
#enterAuthor {
  width: 100%;
}

#contact {
  display: none;
  text-align: center;
}

#contact > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact > * ul {
  text-align: start;
}

.name {
  font-size: 24px;
  padding: 0 0 30px 0;
}

footer {
  margin: auto 5vw 0 5vw;
}
